/*CSS code by ZoraiNaccal

Insert the link as a browser Source found here https://streamkit.discord.com/overlay then paste this code block in Custom CSS
Create a Browser source for the kit you have in the Below Link,
Take that link and place it within the browser source, then create a box large enough to enclose your image, For me 2032 by 2983 then Resize as nessesery.
Take the Code block and change the nessesery data DiscordID, SpeakingURL, NoSpeakingURL To your own and place it in Custom CSS
You might need to ChromaKey/ColourKey your images in both Dim and light states if you don't use a transparent background.*/
li.voice-state:not([data-reactid*="DiscordID"])/*Place your DiscordID here*/ { display:none; }
.avatar {
content:url(NoSpeakingURL); /*Place your NoSpeakingURL here*/
  height:auto !important;
  width:auto !important;
  border-radius:0% !important;
  filter: brightness(50%); /*Change brightness to 100% for no dim affect*/
}

.speaking {
  border-color:rgba(0,0,0,0) !important;
  position:relative;
  animation-name: speak-now;
  animation-duration: 1s;
  animation-fill-mode:forwards;
  filter: brightness(100%);
content:url(SpeakingURL); /*Place your SpeakingURL here*/
}
/*Their's no need to edit further unless you know what your doing*/
@keyframes speak-now {
  0% { bottom:0px;  }
  15% { bottom:10px;  }
  30% { bottom:0px;  }
}

li.voice-state{ position: static; }
div.user{ position: absolute; left:40%; bottom:5%; }
body { background-color: rgba(0, 0, 0, 0); margin: 0px auto; overflow: hidden; }