/*
Author: Zorai#8065
Theme: HeadpatsHQ
Version: 1.0.2
Images: Images were made by Zorai, all rights reserved.
website: https://naccal.github.io/
Thanks: a very special Thank you Jiiks for the tutorial that got me started, Satoru8 for the GlowStatus and ChatBubble2 codes, thank you too Mixter213 for the member list scroller.
*/
//META{"name":"HeadpatsHQ","description":"a theme with a headpatting twist","author":"Zorai#","version":"Auto"}*//
/*imports*/
@import url('https://satoru8.github.io/Addons/GlowStatus.css'); /* Satoru8, GlowStatus master */
@import url("https://mixter213.github.io/Discord/SubTheme/MemberlistScroller.css"); /* Makes the member list smaller and mouse over functionality */
@import url ("https://naccal.github.io/discord/modules/core.css");
:root {
	--background: url('https://naccal.github.io/discord/images/Headpats_Discord.png');

	--colour1: rgb(61,58,76);
	--colour1-active: rgba(61,58,76,0.2);

	--colour1-disabled: rgba(61,58,76,0.2);
	--colour1-disabled-border: rgb(61,58,76);

	--colour2: rgba(40,40,40,0.4);
	--colour2-border: rgb(40,40,40);

	--colour3: white;
	
/* GlowStatus by Satoru8 */
    --round: 50%; /* 0% Square, 50% Circle */
    
    --sGlow: 5px 2px; /* Blur/Thickness Default: 5px 2px */

    --online: #43b581;
    --offline: #747f8d;
    --idle: #faa61a;
    --stream: #593695;
    --dnd: #f04747;
    --invis: #1a36fa;
/* ChatBubble2 by Satoru8 */
	--cba1: rgba(0, 0, 0, .5); /* Background colour & transparency */
	--glow2: hsla(180,100%,25%, 0.9) /* Glow colour */
	
}